header h1 {
    background-image: url('https://cdn.pixabay.com/photo/2018/07/17/14/43/banner-3544296_960_720.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: right;
    padding: 2rem;
}


nav {
    border: 2px solid rgb(189, 189, 189);
    justify-content: center;
    background-color: white;
}

section.details-container {
    padding: 1rem;
    border: 2px solid rgb(189, 189, 189);
    background-color: rgb(255, 255, 255);
    
}

h3.count {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-around;
}

.image {
    width: 300px;
    height: auto;
}

.book-container {
    display: flex;
    justify-content: space-around;
}


/*Details components*/

.details-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.details-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
