.input-element-wiapper {
    display: flex;
}


.btn,
.btn2 {
    padding: 0.6rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: -2.6rem;
    cursor: pointer;
}